html, body
{
  height: 100%;
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=f4b0e3&c2=6c71d5&gt=l&gd=dtt
*/
background: #F4B0E3;
background: linear-gradient(0deg, #F4B0E3, #6C71D5);
background-attachment: fixed;
}

#header
{
    display: block;
    width: 100%; 
    height: 60px;
    border-bottom: 1px solid black;
    position: relative;
    padding: 0; 
}

h1
{
    padding: 10px;
}

#social
{
    position: absolute;
    right: 30px;
    top: 10px;
}

#social img
{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

a
{
    text-decoration: none;
}

*
{
    box-sizing: border-box;
}

#nav
{
   float: left; 
   width: 250px;
   height: 100;
}

#nav a, #nav a:visited
{
    color: black;
    font-weight: 600;
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    background-color: #ffe5ec;
    text-align:  center;
    height: 40px;
    padding: 10px;
    margin: 10px;
}

#nav a:hover
{
  background-color: orangered;
}

a.active
{
    background-color: #9acd32 !important;
}

#nav li
{
    list-style: none;
}

#nav ul
{
    padding: 0;
}

#content
{
    height: 100%;
    float: left;
    padding: 15px;
    border-left: 1px solid black;
    width: calc(100% - 250px);
}

#title h2
{
    text-align: center;
    padding: 2px;
    margin: 0px;
}

#footer
{
    clear: both;
    height: 30px;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-top: 1px solid black;
}

#home_box
{
    width: 65%;
    display: block;

    text-align: center;
    margin: auto;
}

.pics
{
    display: inline-block;
    margin: 10px;
    text-align: center;
    
}

.pics img
{
    height: 250px;
    width: 460px;
    border-radius: 10px;
    border: 1px solid black;
    
}

.pics p
{
    margin: 0;
}

.videocontainer
{
    display: block;
    text-align: center;
}

.video
{
    width: 525px;
    height: 255px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
}

.blocks 
{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}

.left img
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.blocks img
{
    width: 480px;
    height: 380px;
    border-radius: 10px;
}

.left p
{
    margin-left: 310px;
}

.right img
{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.right p
{
   margin-right: 320px;
}

.container
{
    padding: 20px;
}

input[type=text], textarea, select 
{
   width: 100%;
   padding: 12px;
   border: 2px solid #000000;
   border-radius: 5px;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}

input[type=submit]
{
    background-color: #37a2e9;
    color: black;
    padding: 9px 12px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

textarea
{
    height: 200px;
}

table,th,tr
{
    text-align: center;
    
}
p
{
    font-weight: bold;
}

button
{
    width: 100px;
    height: 60px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
.play
{
    animation: fadein .4s ease-in;
}

#container
{
    width: 900px;
    border: 4px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 5%;
    background-image: radial-gradient( circle 619.3px at 10% 20%,  rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100.2% );
}
img
{
    width: auto;
    max-width: 800px;
    height: 800px;

}